@import "styles/style";

$grid-row: .5fr 1fr 1fr 1fr 1fr 2fr;
$grid-row-mobile: .5fr 1fr 1fr 1fr 1fr;

.tablesWrapper {
  background-color: $pink;
  @include useWrapper();
}

.rowWrapper {
  border-collapse: collapse;
  width: 100%;

  .table_header {
    @include useFont(10px, 10px, 700);

    th {
      padding-left: 17px;
      text-align: start;
    }
  }

  .table_row {
    align-items: center;
    @include useFont(14px, 14px, 400);

    td {
      padding-left: 17px;
    }
  }

  @media (max-width: 700px) {

    .date {
      display: none;
    }

    .table_header {
      padding-left: 10px;
      @include useFont(8px, 8px, 700);
    }

    .table_row {
      padding-left: 10px;
    }
  }
}

.checkWrapper {
  displaY: flex;
  align-items: center;
  gap: 10px;
  @include useFont(14px, 16px, bold);
}