@import "styles/style";

.rowWrapper {
  div {
    width: 45px;
    height: 8px;
    border-radius: 10px;
    background-color: $gray;
  }

  @media (max-width: 700px) {
    .date {
      display: none;
    }
  }
}