$black: #000000;
$white: #FFFFFF;
$light-purple1: #4b4bf3;
$light-purple2: #4b4bf3;
$light-purple3: #7373ff;
$light-blue1: #B7ECFC;
$dark-purple1: #24246d;
$dark-purple2: #141536;
$dark-purple3: #3D3E8D;
$gray: #7F808A;
$gray2: #3D404A;
$gray3: #585964;
$gray4: #272839;
$pink: #FCB7BF;