@import "styles/style"; 

$checkboxSize: 18px !default;
$borderWidth: 2px !default;
$animationTime: 0.1s !default;

$checkedColor: $light-purple1 !default;

.root {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.checkbox {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  width: $checkboxSize;
  height: $checkboxSize;
  border: $borderWidth white solid;
  border-radius: 2px;
  transition: background-color $animationTime, border-color $animationTime;
  &Checked {
    background-color: $checkedColor;
    border-color: $checkedColor;
  }
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.icon {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.2);
  transition: opacity $animationTime;
  color: black;
  &Checked {
    opacity: 1;
  }
}

.label {
  display: inline-block;
  margin-left: 10px;
  user-select: none;
  font-size: 1rem;
}
